/dts-v1/;

/*#include "imx8mp-evk.dts"*/
#include "imx8mp-navq.dts"

/ {
	model = "NXP i.MX8MPlus NAVQ+ board (Croptix prototype)";
	compatible = "croptix,imx8mp-navq-croptix", "fsl,imx8mp-navq", "fsl,imx8mp";
};

/* Disable UART3 */

&uart3 {
	status = "disabled";
};

/* Disable I2C6 */
&i2c6 {
	status = "disabled";
};

/* Redirect UART4 to AUX pins */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4_aux>;
	assigned-clocks = <&clk IMX8MP_CLK_UART4>;
	assigned-clock-parents = <&clk IMX8MP_SYS_PLL1_80M>;
	fsl,uart-has-rtscts;
	status = "okay";

	/*gps1: gps@0 {
		compatible = "u-blox,neo-m8"
		frequency = <38400>; // no idea if this is the right property name
	}*/
};

/* Enable SPI1 & SPI2 */

/* defaults to UART3; change to SPI1 */
&ecspi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default";
	/*pinctrl-0 = <&pinctrl_uart3>;*/
	pinctrl-0 = <&pinctrl_ecspi1 &pinctrl_ecspi1_cs>;
	cs-gpios = <&gpio5 9 GPIO_ACTIVE_LOW>;
	status = "okay";

	/* NB: The mcp23s17 driver doesn't like having two expanders on the same
		CS line. But the mask can accept multiple chips on one node if we give
		it two addresses via the address mask.
	 */
	gpiom: gpio@0 {
		compatible = "microchip,mcp23s17";
		#gpio-cells = <2>;
		gpio-controller;
		reg = <0>;  /* CS0 */
		/* chip address (A2:A0) - 0b000 - address is 0, so set bit 0 to 1 */
		/* chip address (A2:A0) - 0b100 - address is 4, so set bit 4 to 1 */
		microchip,spi-present-mask = <0x11>; /* 0x01 | 0x10 -> bits 0 and 4 set */
		spi-max-frequency = <10000000>;
		#interrupt-cells = <2>;
	};
};

&ecspi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default";
	/*pinctrl-0 = <&pinctrl_uart4>;*/
	pinctrl-0 = <&pinctrl_ecspi2 &pinctrl_ecspi2_cs>;
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>;
	status = "okay";

	spidev2: spi@0 {
		reg = <0>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <500000>;
	};

};

&iomuxc {
	pinctrl-names = "default";

	/* Derived from imx8mp-evk.dts -- do the hex values need editing? */

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI1_SCLK__ECSPI1_SCLK		0x82
			MX8MP_IOMUXC_ECSPI1_MOSI__ECSPI1_MOSI		0x82
			MX8MP_IOMUXC_ECSPI1_MISO__ECSPI1_MISO		0x82
		>;
	};

	pinctrl_ecspi1_cs: ecspi1cs {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI1_SS0__GPIO5_IO09		0x40000
		>;
	};

	/* Copied from imx8mp-evk.dts */

	pinctrl_ecspi2: ecspi2grp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI2_SCLK__ECSPI2_SCLK		0x82
			MX8MP_IOMUXC_ECSPI2_MOSI__ECSPI2_MOSI		0x82
			MX8MP_IOMUXC_ECSPI2_MISO__ECSPI2_MISO		0x82
		>;
	};

	pinctrl_ecspi2_cs: ecspi2cs {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI2_SS0__GPIO5_IO13		0x40000
		>;
	};

	/* Guessing from imx8mp-pinfunc.h */

	pinctrl_uart4_aux: uart4auxgrp {
		fsl,pins = <
			MX8MP_IOMUXC_UART4_TXD__UART4_DCE_TX		0x140
			MX8MP_IOMUXC_UART4_RXD__UART4_DCE_RX		0x140
		>;
	};
};

/ {
	/* Define LEDs and buttons connected to GPIO expanders */
	leds {
		compatible = "gpio-leds";
		status = "okay";
		led0 {
			label = "croptix-led-0";
			gpios = <&gpiom 9 GPIO_ACTIVE_HIGH>;
		};
		led1 {
			label = "croptix-led-1";
			gpios = <&gpiom 17 GPIO_ACTIVE_HIGH>;
		};
		led2 {
			label = "croptix-led-2";
			gpios = <&gpiom 25 GPIO_ACTIVE_HIGH>;
		};
	};
	// gpio_keys {
	// 	compatible = "gpio-keys";
	// 	status = "okay";

	// 	button1 {
	// 		label = "button1";
	// 		gpios = <&gpiom 1 GPIO_ACTIVE_HIGH>;
	// 		linux,code = <KEY_ENTER>;
	// 	};
	// };
};